body {
	background: #eee;
	font-family: "微软雅黑";
}
h1 {
	text-align: center;
}
#main {
	width: 980px;
	height: 100%;
	margin: 0 auto;
	border: 1px soli #ddd;
}
#main .h2 {
	text-align: center;
	padding-top: 15px;
}
#main .reply_res {
	text-align: center;
	font-size: 25px;
}
#main .create_reply {
	width: 100%;
	height: 100px;

	background: #f90;
}
#main .create_reply h3 {
	text-align: center;
	font-weight: 400;
}
#main .create_reply .content {
	overflow: hidden;
	text-indent: 2em;
	text-overflow: ellipsis;
}
#main .create_reply .want_alter {
	background: #54b55e;
	color :#fff;
	padding: 2px 5px;
	margin: 5px;
}
#main .page_banner {
	margin: 20px auto;

}
#main .page_banner a {
	color: #fff;
	background: #f60;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	border: 1px solid #ccc;
}
#main .page_banner a:hover {
	background: #f90;
}
#main .reply_content {
	background: #f60;
	font-size: 15px;
	padding: 15px;
	text-indent: 2em;
}